---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
---

<Layout title="Mablog">
	<Navbar />

	<div class="xl:container mx-auto px-8 grid md:grid-cols-2 lg:grid-cols-3 gap-9">
		<Card
			imageProfile="/images/profile-1.png"
			name="Siskaee"
			specialist="UI Designer"
		/>

		<Card
			imageProfile="/images/profile-1.png"
			name="Siskaee"
			specialist="UI Designer"
		/>

		<Card
			imageProfile="/images/profile-1.png"
			name="Siskaee"
			specialist="UI Designer"
		/>
	</div>
</Layout>
