---
import Profile from './Profile.astro';
import Thumbnail from './Thumbnail.astro';

export interface Props {
	imageProfile: string;
	name: string;
	specialist: string;
}

const { imageProfile, name, specialist } = Astro.props as Props
---

<section class="pb-9 border-b border-[#FFFFFF1A] last:border-none md:border-none">
	<Thumbnail thumbnail="/images/thumbnail-1.png" />

	<div class="space-y-2.5 mb-5">
		<h1 class="text-2xl">Understanding color theory: the color wheel and finding complementary colors</h1>
		<p class="opacity-60">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. </p>
	</div>

	<Profile imageProfile={imageProfile} name={name} specialist={specialist} />
</section>