---
import { Icon } from "astro-icon"
---

<div class="xl:container mx-auto p-8">
  <div class="flex justify-between items-center">
    <Icon class="opacity-40 md:hidden" name="ion:menu-outline" width="24" height="24" />

    <div class="flex items-center space-x-2.5 text-lg">
      <span class="w-[35px] h-[35px] bg-[#4B5563] flex justify-center items-center rounded">M</span>
      <h1>Mablog</h1>
    </div>

    <Icon class="opacity-40 md:hidden" name="ion:search-outline" width="24" height="24"/>    
  
    <ul class="hidden md:flex items-center justify-center space-x-11">
      <li>UI Design</li>
      <li>Front-end</li>
      <li>Back-end</li>
      <li class="space-x-2">Lainnya <Icon class="inline-block" name="ion:chevron-down-outline" width="16" height="16"/></li>
    </ul>

    <div class="hidden md:flex bg-[#1F293799] rounded-full items-center space-x-4 py-2 px-5 border border-transparent focus-within:border-white">
      <Icon class="opacity-50" name="ion:search-outline" width="14" height="14"/>
      <input class="bg-transparent outline-none border-none w-full shrink" type="text" placeholder="Search" />
    </div>
  </div>
</div>