---
const { thumbnail } = Astro.props
---

<div class="space-y-5 mb-2.5">
  <img src={thumbnail} alt="thumbnail">
  <p class="opacity-60 flex items-center gap-x-3">UI Designer <span class="w-1.5 h-1.5 bg-white rounded-full"></span> July 2, 2022</p>
</div>