---
import PostHeader from "../components/PostHeader.astro"
import Navbar from "../components/Navbar.astro"

const { title, author } = Astro.props.frontmatter || Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">   
  <title>{title}</title><link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
  <Navbar />
  <PostHeader author={author} />

  <slot/>
  <style is:global>
    * {
      font-family: "Patrick Hand", cursive;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      color: white;
      background-image: linear-gradient(to bottom, #374151 0%, #111827 100%);
      background-position: 0;
      min-height: 100vh;
      background-repeat: no-repeat;
    }
  </style>
</body>
</html>